input[type="submit"] {
    width: 80%;
    height: 23px;
    border: none;
    background: #f1c50e;
    border-radius: 25px;
    font-size: 12px;
    color: #000000;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: #2691d9;
    transition: .5s;
}